[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nose = "*"
ipython = "*"
sphinx = "*"
keyring = "*"
twine = "*"
dnspython = "*"
tox = "*"
setuptools = "*"
sphinx-rtd-theme = "*"
semvermanager = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.6"
