[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
bson = "*"
nose = "*"
ipython = "*"
sphinx = "*"
keyring = "*"
twine = "*"
dnspython = "*"
tox = "*"
setuptools = "*"
sphinx-rtd-theme = "*"
semvermanager = "*"

[dev-packages]

[requires]
python_version = "3.6"
